@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

$hero-bg: rgb(61, 195, 255);

$dark-blue: hsl(212, 27%, 19%);
$dark-gray: hsl(213, 9%, 39%);
$dark-gray-blue: hsl(232, 10%, 55%);
$gray-blue: hsl(210, 4%, 67%);

html,
body {
  margin: 0;
  font-size: 18px;
}

section.hero {
  box-sizing: border-box;
  height: 100vh;

  background: url("../images/desktop/image-header.jpg"), $hero-bg;
  background-size: cover;
  background-position: center;
  padding: 2.5rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;

    img {
      min-height: 100%;
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 35%;

      a {
        font-family: "Barlow";
        text-decoration: none;
        color: white;
      }

      button {
        font-family: "Fraunces";
        text-transform: uppercase;

        background-color: white;

        border: none;
        border-radius: 30px;

        padding: 1.25em 2em;
      }
    }
  }

  img.arrow-down {
    display: block;
    margin: auto;
  }
}

h1 {
  margin: 180px auto;

  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40pt;

  text-transform: uppercase;
  text-align: center;

  letter-spacing: 0.2em;

  color: white;
}

main {
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(4, 1fr);

  section {
    padding: 120px;

    font-family: "Fraunces";
    color: $dark-blue;

    h2 {
      font-weight: 900;
      font-size: 32pt;
    }

    p {
      font-family: "Barlow";
      line-height: 1.5em;
      color: $dark-gray-blue;
    }

    a,
    a:visited {
      font-weight: 900;
      font-size: 12pt;

      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;

      color: $dark-blue;
    }

    a::after {
      content: "";

      display: block;
      z-index: -1;
      position: relative;

      top: -7px;
      left: -5px;

      width: 8.5em;
      height: 6px;

      border-radius: 5px;
    }

    a.yellow::after {
      background-color: hsl(51, 84%, 83%);
    }

    a.red::after {
      background-color: hsl(7, 62%, 81%);
    }
  }

  section,
  aside {
    grid-column: span 2;

    background-position: center;
    background-size: cover;
  }

  aside img {
    width: 100%;
    min-height: 100%;

    object-fit: cover;
    object-position: center;
  }

  section.testimonials {
    grid-area: 4 / 1 / 6 / 5;
  }
}

.bg-image {
  background-size: cover;

  width: 100%;
  height: 100%;
}

.graphic {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

.photography {
  background-image: url("../images/desktop/image-photography.jpg");
}
