@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

$hero-bg: rgb(61, 195, 255);
$dark-blue: hsl(212, 27%, 19%);
$dark-gray: hsl(213, 9%, 39%);
$dark-gray-blue: hsl(232, 10%, 55%);
$gray-blue: hsl(210, 4%, 67%);

html,
body {
  margin: 0;
  font-size: 18px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  column-gap: 3em;

  a {
    font-family: "Barlow";
    text-decoration: none;
    color: white;
  }

  button {
    font-family: "Fraunces";
    text-transform: uppercase;

    background-color: white;

    border: none;
    border-radius: 30px;

    padding: 1.25em 2em;

    transition-property: background-color color;
    transition-duration: 0.1s;
  }

  button:active {
    background-color: #6eceff;
    color: white;
  }
}

section.hero {
  box-sizing: border-box;
  height: 100vh;

  background: url("../images/desktop/image-header.jpg"), $hero-bg;
  background-size: cover;
  background-position: center;
  padding: 2.5rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    height: 30px;

    img {
      height: 100%;
    }
  }

  img.arrow-down {
    display: block;
    margin: auto;

    position: relative;

    animation-name: arrowMovement;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

h1 {
  margin: 200px auto 120px auto;

  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40pt;

  text-transform: uppercase;
  text-align: center;

  letter-spacing: 0.2em;

  color: white;
}

main {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);

  section {
    font-family: "Fraunces";
    max-height: 60vh;

    p {
      font-family: "Barlow";
    }
  }

  section:not(.bg-image) {
    padding: 120px;

    color: $dark-blue;

    h2 {
      font-weight: 900;
      font-size: 32pt;
    }

    p {
      line-height: 1.5em;
      color: $dark-gray-blue;
    }

    a,
    a:visited {
      font-weight: 900;
      font-size: 12pt;

      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;

      color: $dark-blue;
    }

    a::after {
      content: "";

      display: block;
      z-index: -1;
      position: relative;

      top: -7px;
      left: -5px;

      width: 8.5em;
      height: 6px;

      border-radius: 5px;

      transition: background-color 0.5s ease;
    }

    a.yellow::after {
      background-color: hsl(51, 84%, 83%);
    }

    a.yellow:hover::after {
      background-color: hsl(51, 100%, 49%);
    }

    a.red::after {
      background-color: hsl(7, 62%, 81%);
    }

    a.red:hover::after {
      background-color: hsl(7, 99%, 70%);
    }
  }

  section.bg-image {
    text-align: center;

    h3,
    p {
      position: relative;
      top: 55%;
    }

    h3 {
      font-weight: 900;
      font-size: 20pt;

      text-transform: capitalize;
    }

    p {
      margin: auto 22%;
      line-height: 1.75em;
    }
  }

  section.bg-image.graphic {
    color: hsl(167, 40%, 24%);
  }

  section.bg-image.photography {
    color: hsl(198, 62%, 26%);
  }

  section,
  aside {
    grid-column: span 2;

    background-position: center;
    background-size: cover;
  }

  aside img {
    width: 100%;
    min-height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

section.testimonials {
  padding: 150px 0 100px 0;

  overflow-x: auto;

  background-color: #fffbf8;

  font-family: "Barlow";

  h3 {
    margin: 0 auto 5em auto;

    color: $gray-blue;

    font-family: "Fraunces";
    font-weight: 900;

    text-align: center;
    text-transform: uppercase;

    letter-spacing: 4px;
  }

  div#testimonialsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    div {
      text-align: center;

      img {
        margin-bottom: 20px;

        border-radius: 50%;

        width: 80px;
        height: 80px;
      }

      p {
        margin: auto;
        max-width: 60%;
        color: $dark-gray;
      }

      h4 {
        font-family: "Fraunces";
        font-weight: 900;
        margin-bottom: 0.5em;
        color: $dark-blue;
      }

      h5 {
        margin-top: 0;
        color: $gray-blue;
      }
    }
  }
}

section#gallery {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);

  height: 400px;

  div {
    background-position: center;
    background-size: cover;
  }

  div:nth-child(1) {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  }

  div:nth-child(2) {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
  }

  div:nth-child(3) {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
  }

  div:nth-child(4) {
    background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }
}

footer {
  background-color: #90d4c5;

  height: 400px;

  img {
    display: block;

    margin: auto;
    padding-top: 75px;

    height: 30px;

    filter: invert(1) invert(27%) sepia(29%) saturate(777%) hue-rotate(116deg)
      brightness(93%) contrast(87%);
  }

  nav {
    display: flex;
    justify-content: space-evenly;

    width: 30%;

    margin: 80px auto;

    a {
      color: hsl(167, 40%, 24%);
    }

    a:hover {
      color: white;
    }
  }
}

div.socials {
  display: flex;

  margin: auto;
  width: 20%;

  justify-content: space-evenly;

  a {
    display: block;

    width: 25px;
    height: 25px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  a:hover {
    filter: contrast(100) invert(100%);
  }

  a:nth-child(1) {
    background-image: url("../images/icon-facebook.svg");
  }

  a:nth-child(2) {
    background-image: url("../images/icon-instagram.svg");
  }

  a:nth-child(3) {
    background-image: url("../images/icon-twitter.svg");
  }

  a:nth-child(4) {
    background-image: url("../images/icon-pinterest.svg");
  }
}

div.attribution {
  padding: 0.5em;

  background-color: black;
  text-align: center;

  color: white;
  font-family: "Barlow";

  a {
    text-decoration: none;
    color: hsl(168, 34%, 41%);
  }

  a:hover {
    text-decoration: underline;
  }
}

.bg-image {
  background-size: cover;
  max-height: 100%;
}

.graphic {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

.photography {
  background-image: url("../images/desktop/image-photography.jpg");
}

@keyframes arrowMovement {
  0% {
    top: 0px;
  }

  100% {
    top: 20px;
  }
}
